extends layout

block content
  h1 AN ERROR OCCURED :(
  if (message && error)
    h1= message
    h2= error.status
    pre #{error.stack}
  if (err)
    pre #{err}
  if (!message && !error && !err)
    h1 Something went wrong
    h2 oh no this is bad you guys