extends layout

block content
    h1 Registration Error
    h2 An error occurred while registering.
    h2 This is probably due to another user already having that username.
    a(href="/register") Back to registration &nbsp;
    a(href="/") Home